<nav class="nav">

    <a href="{{ '/' | relative_url }}">
    Home
    </a>

    <a href="{{ '/products/field-bite-kit/' | relative_url }}">
    Field Kit
    </a>

    <a href="{{ '/field-guides/' | relative_url }}">
    Field Guides
    </a>

    <a href="{{ '/posters/' | relative_url }}">
    Posters
    </a>

    <a href="{{ '/postcards/' | relative_url }}">
    Postcards
    </a>

    <a href="{{ '/field-notes/' | relative_url }}">
    Field Notes
    </a>

    <a href="{{ '/about/' | relative_url }}">
    About
    </a>

</nav>
